<div class="container my-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">{{ isEditMode ? 'Update Vacation' : 'Add New Vacation' }}</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="vacationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input id="title" formControlName="title" type="text" class="form-control" />
          <div class="text-danger" *ngIf="vacationForm.get('title')?.touched && vacationForm.get('title')?.hasError('required')">
            Title is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date</label>
          <input id="startDate" formControlName="startDate" type="date" class="form-control" />
          <div class="text-danger" *ngIf="vacationForm.get('startDate')?.touched && vacationForm.get('startDate')?.hasError('required')">
            Start date is required.
          </div>
          <div class="text-danger" *ngIf="vacationForm.hasError('startDatePast') && vacationForm.get('startDate')?.touched">
            Start date has to be today or in the future.
          </div>
        </div>

        <div class="mb-3">
          <label for="endDate" class="form-label">End Date</label>
          <input id="endDate" formControlName="endDate" type="date" class="form-control" />
          <div class="text-danger" *ngIf="vacationForm.get('endDate')?.touched && vacationForm.get('endDate')?.hasError('required')">
            End date is required.
          </div>
          <div class="text-danger" *ngIf="vacationForm.hasError('dateRange') && vacationForm.get('endDate')?.touched">
            End date must be the same as or after the start date.
          </div>
        </div>

        <div class="d-flex justify-content-end align-items-center"> <!--  -->
          <div class="btn-group">
            <button class="btn btn-primary" type="submit" [disabled]="vacationForm.invalid">
              {{ isEditMode ? 'Update Vacation' : 'Save Vacation' }}
            </button>
            <button class="btn btn-outline-secondary" [routerLink]="['/vacations']">
              Back to Vacations
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- Excursions Component -->
    <div class="container mt-5" *ngIf="vacation">
      <app-excursions
        [vacationId]="vacation.id"
        [vacationStartDate]="vacation.startDate"
        [vacationEndDate]="vacation.endDate"
      ></app-excursions>
    </div>
  </div>
</div>


